body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}


/* 16px = 1em */

p {
    line-height: 2;
}

h1 {
    color: #66BFBF;
    font-size: 90px;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    line-height: 2;
}

h2 {
    color: #66BFBF;
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

h3 {
    color: #11999E;
}

.top-container {
    background-color: #E4F9F5;
    display: relative;
    padding-top: 200px;
}

.middle-cotainer {
    margin: 100px 0;
}

.contact-me {
    width: 40%;
    margin: 40px auto 60px;
}

img {
    width: 20%;
    height: auto;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #EAF6F6;
    border-width: 6px;
    width: 4%;
    margin: 100px auto;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 200px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.skill1-img {
    width: 15%;
    float: left;
    margin-right: 30px;
}

.skill2-img {
    width: 15%;
    float: right;
    margin-right: 30px;
}

.hello_word {
    color: #40514E;
    width: 30%;
    margin: auto;
}

.BUTTON_KAZ {
    background: #11999E;
    background-image: -webkit-linear-gradient(top, #11999E, #11999E);
    background-image: -moz-linear-gradient(top, #11999E, #11999E);
    background-image: -ms-linear-gradient(top, #11999E, #11999E);
    background-image: -o-linear-gradient(top, #11999E, #11999E);
    background-image: -webkit-gradient(to bottom, #11999E, #11999E);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 0;
    line-height: 0;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    width: 150px;
    font-size: 20px;
    font-weight: 100;
    padding: 30px;
    border: solid #FFFFFF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.BUTTON_KAZ:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.bottom-container {
    background-color: #66BFBF;
    margin: 20px;
    padding: 50px 0 20px;
}

.footer-link {
    display: inline-block;
    color: #11999E;
    margin: 10px 20px;
}

.footer-link:hover {
    color: #EAF6F6;
}

.last {
    color: #EAF6F6;
}